{% extends 'toko1/main.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="box-element">
      <h3><b><center>Kami bisa membantu anda cara membeli item pilihan</center></b></h3> 
      <hr>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          <div class="dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Cara membeli suatu item game
            </button>
            <div class="dropdown-menu">
              <span class="dropdown-item-text"><p>
                Cari items sesuai dengan nama game yang dimainkan, ketika sudah ingin membeli item <b>klik Tambahkan</b> setelah itu
                item akan masuk ke kerajang. Ketika selesai membeli, anda harus <b>Klik icon kerajang</b> untuk melanjutkan pembelian.
                Disana anda dapat <b>Menambah / Mengurangi item</b> yang dibeli, ketika sudah yakin membeli item lalu anda <b>klik 
                checkout</b>. Di halaman checkout anda diminta untuk mengisikan <b>Nama & Email</b> gunanya untuk <u>ketika ada kendala
                pihak kami bisa mencek proses pembelian anda</u>, dan anda wajib mengisikan <b>ID maupun Server game</b>. Apabila di game
                <u>Tidak ada Server game</u> boleh dikosongkan. Setelah mengisi <b>klik Lanjutkan transaksi</b> anda bisa memilih metode
                pembayaran. Kalau sudah selesai pembayaran tinggal <u>Tunggu beberapa menit</u> untuk proses pengiriman items ke game anda.</p>
              </span>
            </div> 
          </div>
        </li>
        <li class="list-group-item">
          <div class="dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Melakukan pembayaran pada items
            </button>
            <div class="dropdown-menu">
              <span class="dropdown-item-text"><p>
                Masuk dengan email dan password <b>aplikasi Paypal</b> anda, disana anda diminta dengan pembayaran utama. Dalam pembayaran
                utama anda (pilih salah satu) bisa menggunakan <b>Saldo Paypal, Kartu Bank anda</b>, setelah itu klik <b>Pembayaran</b>. 
                Kalau sudah selesai pembayaran tinggal <u>Tunggu beberapa menit</u> untuk proses pengiriman items ke game anda.</p>
              </span>
            </div> 
          </div>
        </li>
        <li class="list-group-item list-group-item-info">
          <div class="dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Cara menghubungkan pihak kami kalau ada kendala / Keperluan
            </button>
            <div class="dropdown-menu">
              <span class="dropdown-item-text">
                <p>
                Bagian bawah terdapat 3 melalui via <b>Instagram, Gmail, WhatsApp</b>. Format untuk menghubungi :
                <ul type="square">
                  <li>Nama</li>
                  <li>Email</li>
                  <li>Keperluan</li>
                </ul>
                </p>
              </span>
            </div> 
          </div>
        </li>
        <li class="list-group-item">
          <div class="dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Hal yang diluar tanggung jawab kami
            </button>
            <div class="dropdown-menu">
              <span class="dropdown-item-text">
                <p>
                <ol type='A'>
                  <li>Terjadi kesalahan pembelian</li>
                  <li>Salah dalam pengisian data</li>
                  <li>Pembayaran masih belum masuk</li>
                  <li>Kekurangan dalam pengisian data</li>
                  <li>Ketidak sesuaian antara data dan pembayaran</li>
                </ol>
                </p>
              </span>
            </div> 
          </div>
        </li>
        <li class="list-group-item list-group-item-info">
          <div class="dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Penjelasan tentang pembeli items dalam beberapa game
            </button>
            <div class="dropdown-menu">
              <span class="dropdown-item-text">
                <p>
                  Anda <b>tidak bisa membeli items yang berbeda</b> game dalam 1 waktu, jadi <u>harus 
                  bergantian</u> dalam proses pembelian. Membedakan game terdapat pada <b>samping nama items</b>
                  (singkatan dari nama game tersebut), dan dapat <b>dilihat dari sampul</b> items game tersebut.

                </p>
              </span>
            </div> 
          </div>
        </li>
        <li class="list-group-item">
          <div class="dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Pengisian Id & Server game
            </button>
            <div class="dropdown-menu">
              <span class="dropdown-item-text">
                <p>
                  Pengisian Id & Server tiap game boleh tulis <u>huruf, angka, maupun symbol</u> (sesuai dengan id
                  dalam game). Apabila <b>server game tidak ada maka</b> boleh dikosongkan tidak perlu diisi lagi.
                </p>
              </span>
            </div> 
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}