<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Toko TopUp Gaming MLBB</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'images/logo_polos.ico' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-5lyycFVbjPEEm8fh"></script> -->
    <script type="text/javascript"> 
        var user = '{{request.user}}'

      // ! PERCOBAAN CSRF AJAX ! //
        //csrf valid ajax//
        // function getCookie(name) {
        //     var cookieValue = null;
        //     if (document.cookie && document.cookie !== '') {
        //         var cookies = document.cookie.split(';');
        //         for (var i = 0; i < cookies.length; i++) {
        //             var cookie = cookies[i].trim();
        //             // Does this cookie string begin with the name we want?
        //             if (cookie.substring(0, name.length + 1) === (name + '=')) {
        //                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        //                 break;
        //             }
        //         }
        //     }
        //     return cookieValue;
        // }

        // function csrfSafeMethod(method) {
        //     // these HTTP methods do not require CSRF protection
        //     return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        // }
        // var csrftoken = getCookie('csrftoken');

        function getCookie(nama){
          //Pisahkan string cookie dan dapatkan semua pasangan nama=nilai individu dalam sebuah array
          //console.log('cookie :', document.cookie) <!--Pengecekan Cookie-->

          var cookieArr = document.cookie.split(";");
          //console.log('cookieArr :', document.cookie) <!--Pengecekan CookieArr-->

          //Mengulangi elemen array
          var setCart = null
          for(let i = 0; i < cookieArr.length; i++) {
            const cookiePair = cookieArr[i].split("=");

            /* Menghapus spasi di awal nama cookie dan membandingkannya dengan string yang diberikan */
            if(nama == cookiePair[0].trim()){
              // Decode nilai cookie dan kembali
              setCart = decodeURIComponent(cookiePair[1]);

            }
          }
          return JSON.parse(setCart);
        }
        
        var cart = getCookie('cart')
        if(cart == undefined){
          cart = {}
          console.log('Cart telah dibuat !!')
          document.cookie = 'cart=' + JSON.stringify(cart)+";domain=;path=/;secure"
        }
        console.log('Cart:', cart)
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{%url 'store'%}">
        <img src="{%static 'images/Logo-Polos.png'%}" width="55" height="45" class="d-inline-block align-center" alt="">
        Topup Gaming
      </a>
      
      <div class="text-judul">
        <marquee style="color: #FFFFFF; font-family: Book Antiqua" behavior="alternate" scrollamount="4">
          <i class='far fa-hand-point-left' style='font-size:20px;color:burlywood'></i>
          Welcome to website e-commerce game
        </marquee>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{%url 'store'%}">Home</a>
          <a class="nav-item nav-link" href="#">About</a>
          <a class="nav-item nav-link" href="#">Help</a>
        </div>
        <div class="from-inline my-2 my-lg-0">
          <a href="{%url 'cart'%}">
            <img src="{%static 'images/cart.png'%}" id="cart-icon">
            <p id="cart-total">{{cartItems}}</p>
          </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <br>
      {% block content %}

      {% endblock content %}
    </div>

    <br>
    <br>
    
  <!--FOOTER-->
    <footer>
      <div class="footer-content">
        <div class="content-about">
          <h2> Toko TopUp Gaming </h2>
          <p> 
            Merupakan toko online yang menjual U-Cash/E-MoneyGame, harga murah dan terjangkau bagi para players yang bermain game.
            Proses pengiriman 5-30 menit dan apabila tidak masuk selama 1x24 jam,
            maka bisa hubungi di contact kami.
          </p>
        </div>
        <div class="content-socialmedia">
          <h2> Kontak kami : </h2>
          <ul>
            <li class='fab fa-instagram' style="font-size:18px;"><a href="https://www.instagram.com/bisniman.online/">   Intagram  : @bisniman.online</a></li>
            <li class='fab fa-google-plus' style="font-size:18px;"><a href="https://Eboygaming14@gmail.com"> Gmail     : eboygaming14@gmail.com</a></li>
            <li class='fab fa-whatsapp' style="font-size:18px;"><a href="https://wa.me/6289609785921">    WhatsApp  : +(62)896-0978-5921</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        &copy; 2021 | website by Robby Nugroho Setiawan
      </div>
    </footer>

  <!-- JS, Popper.js, and jQuery -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    -->
    
  <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/40ba528507.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/cart2.js' %}"></script>

  </body>
</html>